<div class="container-fluid p-0">
  <nav class="navbar bg-light navbar-expand-xl px-3">
    <a [routerLink]="'/'">
      <img class="navbar-logo" src="assets/navbar-logo.png" />
    </a>

    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-animation">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
    <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
      <ul class="navbar-nav navbar-nav-scroll mx-auto">
        <li class="nav-item d-flex">
          <a class="nav-link" routerLink="/courses">Courses</a>
          <a class="nav-link" routerLink="/auth/login">Login</a>
          <a class="nav-link" routerLink="/auth/register">Register</a>
          <a class="nav-link" routerLink="/user">User</a>
          <a class="nav-link" routerLink="/instructors">Instructors</a>
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
