<footer class="py-4 px-5">
  <div class="container">
    <!-- Row START -->
    <div class="row justify-content-center">
      <!-- Link block -->
      <div class="col-2">
        <h5 class="mb-4">Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">News and Blogs</a>
          </li>
        </ul>
      </div>

      <!-- Link block -->
      <div class="col-2">
        <h5 class="mb-2 mb-md-4">Community</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link">Documentation</a>
          </li>
          <li class="nav-item"><a class="nav-link">Faq</a></li>
          <li class="nav-item"><a class="nav-link">Forum</a></li>
        </ul>
      </div>

      <!-- Link block -->
      <div class="col-2">
        <h5 class="mb-2 mb-md-4">Teaching</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link">Become a teacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">How to guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Terms &amp; Conditions</a>
          </li>
        </ul>
      </div>
      <!-- Widget 3 START -->
      <div class="col-2">
        <h5 class="mb-2 mb-md-4">Contact</h5>
        <!-- Time -->
        <p class="mb-2">+1234 568 963 (9:AM to 8:PM IST)</p>

        <p class="mb-0">Email:example@gmail.com</p>
      </div>
      <div class="col-2">
        <h5 class="mb-4">Social media</h5>
        <ul class="list-inline mb-0 mt-3">
          <li class="list-inline-item">
            <a class="btn btn-white btn-sm shadow px-2 text-facebook"
              ><i class="fab fa-fw fa-facebook-f"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-white btn-sm shadow px-2 text-instagram"
              ><i class="fab fa-fw fa-instagram"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-white btn-sm shadow px-2 text-twitter"
              ><i class="fab fa-fw fa-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-white btn-sm shadow px-2 text-linkedin"
              ><i class="fab fa-fw fa-linkedin-in"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
