<div class="card">
  <div class="p-1">
    <!-- Title -->
    <h2>Curriculum</h2>

    <hr />
    <!-- Divider -->

    <div class="row">
      <!-- Add lecture Modal button -->
      <div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
        <h3 class="mb-2 mb-sm-0">Add Chapter</h3>
        <a class="btn btn-primary-soft mb-0" (click)="addLecture()"
          ><i class="bi bi-plus-circle me-2"></i>Add Chapter</a
        >
      </div>

      <!-- Edit lecture START -->
      <div *ngIf="curriculum">
        <div *ngFor="let chapter of curriculum; let i = index">
          <!-- Display chapters -->
          <app-course-chapter
            [chapter]="chapter"
            [index]="i"
          ></app-course-chapter>
        </div>
      </div>

      <div class="text-end">
        <button matStepperPrevious class="btn btn-primary me-2">Back</button>
        <button type="button" class="btn btn-primary" (click)="saveCourse()">
          Save
        </button>
      </div>
      <!-- Edit lecture END -->
    </div>
  </div>
</div>
