<div class="col-xl-9">
  <!-- Payment method START -->
  <div class="card bg-transparent border rounded-3 mb-4 z-index-9">
    <!-- Card header START -->
    <div
      class="card-header bg-transparent d-sm-flex justify-content-sm-between align-items-center border-bottom"
    >
      <h3 class="mb-2 mb-sm-0">Payment methods</h3>
    </div>
    <!-- Card header END -->

    <!-- Card body START -->
    <div class="card-body">
      <div class="accordion accordion-circle" id="accordioncircle">
        <!-- Credit or debit card START -->
        <div class="accordion-item mb-3">
          <h6 class="accordion-header font-base" id="heading-1"></h6>
          <div
            id="collapse-1"
            class="accordion-collapse collapse show"
            aria-labelledby="heading-1"
            data-bs-parent="#accordioncircle"
          >
            <!-- Accordion body -->
            <div class="accordion-body">
              <!-- Form START -->
              <form
                class="row text-start g-3"
                [formGroup]="paymentForm"
                (ngSubmit)="onSubmit()"
              >
                <!-- Card number -->
                <div class="col-12">
                  <label class="form-label"
                    >Card Number <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="xxxx xxxx xxxx xxxx"
                      formControlName="cardNumber"
                    />
                  </div>
                  <div
                    *ngIf="
                      (paymentForm.get('cardNumber')?.invalid &&
                        paymentForm.get('cardNumber')?.dirty) ||
                      paymentForm.get('cardNumber')?.touched
                    "
                  >
                    <div
                      *ngIf="
                        paymentForm.get('cardNumber')?.hasError('required')
                      "
                    >
                      Field is required
                    </div>
                    <div
                      *ngIf="
                        paymentForm
                          .get('cardNumber')
                          ?.hasError('cardNumberLengthValidator')
                      "
                    >
                      Field should not have more than 16 digits
                    </div>
                  </div>
                </div>
                <!-- Expiration Date -->
                <div class="col-md-4">
                  <label class="form-label"
                    >Expiration date <span class="text-danger">*</span></label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Month"
                      formControlName="cardMonth"
                    />
                  </div>
                  <div
                    *ngIf="
                      (paymentForm.get('cardMonth')?.invalid &&
                        paymentForm.get('cardMonth')?.dirty) ||
                      paymentForm.get('cardMonth')?.touched
                    "
                  >
                    <div
                      *ngIf="paymentForm.get('cardMonth')?.hasError('required')"
                    >
                      Field is required
                    </div>
                    <div
                      *ngIf="
                        paymentForm.get('cardMonth')?.hasError('monthValidator')
                      "
                    >
                      Field should have 2 digits
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <label class="form-label mb-4"></label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Year"
                      formControlName="cardYear"
                    />
                  </div>

                  <div
                    *ngIf="
                      (paymentForm.get('cardYear')?.invalid &&
                        paymentForm.get('cardYear')?.dirty) ||
                      paymentForm.get('cardYear')?.touched
                    "
                  >
                    <div
                      *ngIf="paymentForm.get('cardYear')?.hasError('required')"
                    >
                      Field is required
                    </div>
                    <div
                      *ngIf="
                        paymentForm.get('cardYear')?.hasError('yearValidator')
                      "
                    >
                      Field should have 4 digits
                    </div>
                  </div>
                </div>
                <!--Cvv code  -->
                <div class="col-4">
                  <label class="form-label"
                    >CVV / CVC <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="xxx"
                    formControlName="cardCvv"
                  />
                  <div
                    *ngIf="
                      (paymentForm.get('cardCvv')?.invalid &&
                        paymentForm.get('cardCvv')?.dirty) ||
                      paymentForm.get('cardCvv')?.touched
                    "
                  >
                    <div
                      *ngIf="paymentForm.get('cardCvv')?.hasError('required')"
                    >
                      Field is required
                    </div>
                    <div
                      *ngIf="
                        paymentForm.get('cardCvv')?.hasError('cvvValidator')
                      "
                    >
                      Field should have 3 digits
                    </div>
                  </div>
                </div>
                <!-- Card name -->
                <div class="col-12">
                  <label class="form-label"
                    >Name on Card <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="name of card holder"
                    placeholder="Enter name"
                    formControlName="cardName"
                  />
                  <div
                    *ngIf="
                      (paymentForm.get('cardName')?.invalid &&
                        paymentForm.get('cardName')?.dirty) ||
                      paymentForm.get('cardName')?.touched
                    "
                  >
                    <div
                      *ngIf="paymentForm.get('cardName')?.hasError('required')"
                    >
                      Field is required
                    </div>
                  </div>
                </div>
                <div *ngIf="!paymentAdded">
                  <button
                    href="#"
                    class="btn btn-sm btn-primary-soft mb-0 ms-1"
                    data-bs-toggle="modal"
                    data-bs-target="#addNewcard"
                    type="submit"
                  >
                    Add new card
                  </button>
                </div>
              </form>
              <!-- Form END -->
            </div>
          </div>
        </div>
        <!-- Credit or debit card END -->
      </div>
    </div>
    <!-- Card body START -->
  </div>
  <!-- Payment method END -->

  <!-- Billing address START -->
  <div class="card bg-transparent border rounded-3 mb-4">
    <!-- Card header START -->
    <div
      class="card-header bg-transparent d-sm-flex justify-content-sm-between align-items-center border-bottom"
    >
      <h3 class="mb-2 mb-sm-0">Billing address</h3>
      <a href="#" class="btn btn-sm btn-primary-soft mb-0">Add address</a>
    </div>
    <!-- Card header END -->

    <!-- Card body START -->
    <div class="card-body">
      <!-- Address START -->
      <div
        class="bg-body border border-1 p-3 rounded-3 d-sm-flex justify-content-sm-between align-items-center mb-4"
      >
        <!-- Radio button button -->
        <div class="form-check">
          <input
            class="form-check-input mb-1"
            type="radio"
            name="address"
            id="address1"
            checked=""
          />
          <label class="form-check-label mb-0 h5" for="address1"
            >Address-1</label
          >
          <p class="mb-0">2492 Centennial NW, Acworth, GA, 30102</p>
        </div>

        <!-- Button -->
        <div>
          <a href="#" class="btn btn-sm btn-success mb-0">Edit</a>
          <button class="btn btn-sm btn-danger mb-0">Delete</button>
        </div>
      </div>
      <!-- Address END -->
    </div>
    <!-- Card body START -->
  </div>
  <!-- Billing address END -->

  <!-- Main content END -->
</div>
