.error-text{
    color: red;
}

.fa-wallet{
    font-size: 17px;
}

.wallet p{
    display:inline-block;
    font-size:18px;
    color:#000;
}

.deposit-section{
    box-sizing: border-box;
    width:100%;
}