<!-- Form START -->
<form class="row g-3 mt-0" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <!-- Name -->
  <div class="col-6 bg-light-input">
    <label for="yourName" class="form-label ps-1">Your name *</label>
    <input
      type="text"
      class="form-control"
      id="yourName"
      placeholder="Name"
      formControlName="name"
    />
    <div
      class="col-6"
      *ngIf="
        (checkoutForm.get('name')?.invalid &&
          (checkoutForm.get('name')?.dirty ||
            checkoutForm.get('name')?.touched)) ||
        formSubmitted
      "
    >
      <!-- Check min length of 5 -->
      <div
        *ngIf="checkoutForm.get('name')?.errors?.['required']"
        class="my-2 error-text"
      >
        <span class="text-red ps-3">This field is required</span>
      </div>
    </div>
  </div>

  <!-- Number -->
  <div class="col-6 bg-light-input">
    <label for="mobileNumber" class="form-label ps-1">Mobile number *</label>
    <input
      type="text"
      class="form-control"
      id="mobileNumber"
      placeholder="Mobile number"
      formControlName="phoneNumber"
    />
    <div
      class="col-6"
      *ngIf="
        (checkoutForm.get('phoneNumber')?.invalid &&
          (checkoutForm.get('phoneNumber')?.dirty ||
            checkoutForm.get('phoneNumber')?.touched)) ||
        formSubmitted
      "
    >
      <!-- Check min length of 5 -->
      <div
        *ngIf="checkoutForm.get('phoneNumber')?.errors?.['required']"
        class="my-2"
      >
        <span class="text-red">This field is required</span>
      </div>
      <div
        *ngIf="checkoutForm.get('phoneNumber')?.errors?.['maxLength'] || checkoutForm.get('phoneNumber')?.errors?.['minLength']"
        class="my-2"
      >
        <span class="text-red">Invalid phone number</span>
      </div>
    </div>
  </div>

  <!-- Country option -->
  <div class="col-6 bg-light-input">
    <label for="country" class="form-label ps-1">Country *</label>
    <input
      type="text"
      class="form-control"
      id="country"
      placeholder="Country"
      formControlName="country"
    />
    <div
      class="col-6"
      *ngIf="
        (checkoutForm.get('country')?.invalid &&
          (checkoutForm.get('country')?.dirty ||
            checkoutForm.get('country')?.touched)) ||
        formSubmitted
      "
    >
      <!-- Check min length of 5 -->
      <div
        *ngIf="checkoutForm.get('country')?.errors?.['required']"
        class="my-2 error-text"
      >
        <span class="text-red ps-3">This field is required</span>
      </div>
    </div>
  </div>

  <div class="col-6 bg-light-input">
    <label for="city" class="form-label ps-1">City *</label>
    <input
      type="text"
      class="form-control"
      id="city"
      placeholder="City"
      formControlName="city"
    />
    <div
      class="col-6"
      *ngIf="
        (checkoutForm.get('city')?.invalid &&
          (checkoutForm.get('city')?.dirty ||
            checkoutForm.get('city')?.touched)) ||
        formSubmitted
      "
    >
      <!-- Check min length of 5 -->
      <div
        *ngIf="checkoutForm.get('city')?.errors?.['required']"
        class="my-2 error-text"
      >
        <span class="text-red">This field is required</span>
      </div>
    </div>
  </div>

  <!-- Postal code -->
  <div class="col-6 bg-light-input">
    <label for="postalCode" class="form-label ps-1">Postal code *</label>
    <input
      type="text"
      class="form-control"
      id="postalCode"
      placeholder="PIN code"
      formControlName="postalCode"
    />
    <div
      class="col-6"
      *ngIf="
        (checkoutForm.get('postalCode')?.invalid &&
          (checkoutForm.get('postalCode')?.dirty ||
            checkoutForm.get('postalCode')?.touched)) ||
        formSubmitted
      "
    >
      <div
        *ngIf="checkoutForm.get('postalCode')?.errors?.['required']"
        class="my-2 error-text"
      >
        <span class="text-red ps-3">This field is required</span>
      </div>
      <div
        *ngIf="checkoutForm.get('postalCode')?.errors?.['maxLength']"
        class="my-2 error-text"
      >
        <span class="text-red ps-3">Invalid postal code</span>
      </div>
    </div>
  </div>

  <!-- Address -->
  <div class="col-6 bg-light-input">
    <label for="address" class="form-label ps-1">Address *</label>
    <input
      type="text"
      class="form-control"
      id="address"
      placeholder="Address"
      formControlName="address"
    />
    <div
      class="col-6"
      *ngIf="
        (checkoutForm.get('address')?.invalid &&
          (checkoutForm.get('address')?.dirty ||
            checkoutForm.get('address')?.touched)) ||
        formSubmitted
      "
    >
      <!-- Check min length of 5 -->
      <div
        *ngIf="checkoutForm.get('address')?.errors?.['required']"
        class="my-2 error-text"
      >
        <span class="text-red">This field is required</span>
      </div>
    </div>
  </div>

  <!-- Button -->
  <div class="col-12 text-end">
    <button type="submit" class="btn btn-primary mb-0">Save changes</button>
  </div>
</form>
<!-- Form END -->
