<mat-tab-group>
  <mat-tab label="1">
    <div class="bs-stepper-content p-4">
      <form>
        <!-- Step 1 content START -->
        <div>
          <!-- Title -->
          <h4>Course details</h4>

          <hr />
          <!-- Divider -->

          <!-- Basic information START -->
          <div class="row g-4">
            <!-- Course title -->
            <div class="col-12">
              <label class="form-label fw-bold">Title</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter course title"
              />
            </div>

            <!-- Short description -->
            <div class="col-12">
              <label class="form-label fw-bold">Description</label>
              <textarea
                class="form-control"
                rows="4"
                placeholder="Enter short description"
              ></textarea>
            </div>

            <!-- Course category -->
            <div class="col-md-6">
              <label class="form-label fw-bold">Category</label>
              <select class="form-select" aria-label="Default select example">
                <option selected value="1">
                  Programming and Software Development
                </option>
                <option value="2">Web Development</option>
                <option value="3">Mobile App Development</option>
                <option value="4">Data Science and Machine Learning</option>
                <option value="5">Cybersecurity</option>
                <option value="6">Cloud Computing</option>
              </select>
            </div>

            <!-- Course level -->
            <div class="col-md-6">
              <label class="form-label fw-bold">Level</label>

              <select class="form-select" aria-label="Default select example">
                <option selected>Beginner</option>
                <option value="1">Intermediate</option>
                <option value="2">Advanced</option>
              </select>
            </div>

            <!-- Course time -->
            <div class="col-md-6">
              <label class="form-label fw-bold">Time</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter course time"
              />
            </div>

            <!-- Total lecture -->
            <div class="col-md-6">
              <label class="form-label fw-bold">Lecture</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter total lecture"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label fw-bold">Premium</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Yes</option>
                <option value="1">No</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label fw-bold">Certificate</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Yes</option>
                <option value="1">No</option>
              </select>
            </div>

            <!-- Course price -->
            <div class="col-md-6">
              <label class="form-label fw-bold">Price</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter course price"
              />
            </div>
          </div>
          <!-- Basic information START -->
        </div>
        <!-- Step 1 content END -->
      </form>
    </div>
  </mat-tab>
  <mat-tab label="2">
    <!-- Step 2 content START -->
    <div class="p-4">
      <!-- Title -->
      <h4>Course media</h4>

      <p class="fw-bold">Select an image</p>
      <div class="row px-3">
        <div class="col-2 mb-2 px-0">
          <img class="media-photo" src="/assets/css.jpg" />
        </div>
        <div class="col-2 mb-2 px-0">
          <img class="media-photo" src="/assets/design.jpg" />
        </div>
        <div class="col-2 mb-2 px-0">
          <img class="media-photo" src="/assets/figma.jpg" />
        </div>
        <div class="col-2 mb-2 px-0">
          <img class="media-photo" src="/assets/graphic.jpg" />
        </div>
        <div class="col-2 mb-2 px-0">
          <img class="media-photo" src="/assets/html.jpg" />
        </div>
        <div class="col-2 mb-2 px-0">
          <img class="media-photo" src="/assets/invision.jpg" />
        </div>
        <div class="col-2 mb-2 px-0">
          <img class="media-photo" src="/assets/javascript.jpg" />
        </div>
        <div class="col-2 mb-2 px-0">
          <img class="media-photo" src="/assets/react.jpg" />
        </div>
      </div>

      <!-- Divider -->
    </div>
    <!-- Step 2 content END -->
  </mat-tab>
  <mat-tab label="3">
    <div class="p-4">
      <!-- Title -->
      <h4 class="ps-3">Curriculum</h4>

      <hr />
      <!-- Divider -->

      <div class="row">
        <!-- Add lecture Modal button -->
        <div
          class="d-sm-flex justify-content-sm-between align-items-center mb-3"
        >
          <h5 class="mb-2 mb-sm-0 ps-3">Add Lecture</h5>
          <a
            href="#"
            class="btn btn-sm btn-primary-soft mb-0"
            data-bs-toggle="modal"
            data-bs-target="#addLecture"
            ><i class="bi bi-plus-circle me-2"></i>Add Lecture</a
          >
        </div>

        <!-- Edit lecture START -->
        <div
          class="accordion accordion-icon accordion-bg-light"
          id="accordionExample2"
        >
          <!-- Item START -->
          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-1">
              <button
                class="accordion-button fw-bold rounded d-inline-block collapsed d-block pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-1"
                aria-expanded="false"
                aria-controls="collapse-1"
              >
                Introduction of Digital Marketing
              </button>
            </h6>

            <div
              id="collapse-1"
              class="accordion-collapse collapse show"
              aria-labelledby="heading-1"
              data-bs-parent="#accordionExample2"
            >
              <!-- Topic START -->
              <div class="accordion-body mt-3">
                <!-- Video item START -->
                <div class="d-flex justify-content-between align-items-center">
                  <div class="position-relative">
                    <a
                      href="#"
                      class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static"
                      ><i class="fas fa-play"></i
                    ></a>
                    <span class="ms-2 mb-0 h6 fw-light">Introduction</span>
                  </div>
                  <!-- Edit and cancel button -->
                  <div>
                    <a
                      href="#"
                      class="btn btn-sm btn-success-soft btn-round me-1 mb-1 mb-md-0"
                      ><i class="far fa-fw fa-edit"></i
                    ></a>
                    <button class="btn btn-sm btn-danger-soft btn-round mb-0">
                      <i class="fas fa-fw fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- Divider -->
                <hr />
                <!-- Video item END -->

                <!-- Video item START -->
                <div class="d-flex justify-content-between align-items-center">
                  <div class="position-relative">
                    <a
                      href="#"
                      class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static"
                      ><i class="fas fa-play"></i
                    ></a>
                    <span class="ms-2 mb-0 h6 fw-light"
                      >What is Digital Marketing</span
                    >
                  </div>
                  <!-- Edit and cancel button -->
                  <div>
                    <a
                      href="#"
                      class="btn btn-sm btn-success-soft btn-round me-1 mb-1 mb-md-0"
                      ><i class="far fa-fw fa-edit"></i
                    ></a>
                    <button class="btn btn-sm btn-danger-soft btn-round mb-0">
                      <i class="fas fa-fw fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- Divider -->
                <hr />
                <!-- Video item END -->

                <!-- Add topic -->
                <a
                  href="#"
                  class="btn btn-sm btn-dark mb-0"
                  data-bs-toggle="modal"
                  data-bs-target="#addTopic"
                  ><i class="bi bi-plus-circle me-2"></i>Add topic</a
                >
              </div>
              <!-- Topic END -->
            </div>
          </div>
          <!-- Item END -->

          <!-- Item START -->
          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-2">
              <button
                class="accordion-button fw-bold rounded d-inline-block collapsed d-block pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-2"
                aria-expanded="false"
                aria-controls="collapse-2"
              >
                Customer Life cycle
              </button>
            </h6>

            <div
              id="collapse-2"
              class="accordion-collapse collapse"
              aria-labelledby="heading-2"
              data-bs-parent="#accordionExample2"
            >
              <div class="accordion-body mt-3">
                <!-- Add topic -->
                <a
                  href="#"
                  class="btn btn-sm btn-dark mb-0"
                  data-bs-toggle="modal"
                  data-bs-target="#addTopic"
                >
                  <i class="bi bi-plus-circle me-2"></i>Add topic
                </a>
              </div>
            </div>
          </div>
          <!-- Item END -->

          <!-- Item START -->
          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-3">
              <button
                class="accordion-button fw-bold collapsed rounded d-block pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-3"
                aria-expanded="false"
                aria-controls="collapse-3"
              >
                How much should I offer the sellers?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-3"
              class="accordion-collapse collapse"
              aria-labelledby="heading-3"
              data-bs-parent="#accordionExample2"
            >
              <div class="accordion-body mt-3">
                <!-- Add topic -->
                <a
                  href="#"
                  class="btn btn-sm btn-dark mb-0"
                  data-bs-toggle="modal"
                  data-bs-target="#addTopic"
                >
                  <i class="bi bi-plus-circle me-2"></i>Add topic
                </a>
              </div>
            </div>
          </div>
          <!-- Item END -->
        </div>
        <!-- Edit lecture END -->
      </div>
    </div>

    <!-- Step 3 content END -->
  </mat-tab>
</mat-tab-group>
