.table-head{
    background-color: #000;
}

.caard-body{
    padding:0px;
}

.border-warning{
    border-bottom: 4px solid #eed202;
    background-color: #000;
}

.border-warning p{
    color:#fff;
    font-size:20px;
    font-weight: bold;
}