<div class="card px-3 py-2">
  <form [formGroup]="courseForm" (ngSubmit)="saveCourseDetails()">
    <!-- Title -->
    <h2 class="mb-3">Course details</h2>
    <div class="row g-4">
      <!-- Course title -->
      <div class="col-12">
        <label class="form-label fw-bold ps-1">Title</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter course title"
          formControlName="title"
        />
      </div>
      <div
        *ngIf="
          (courseForm.get('title')?.invalid &&
            (courseForm.get('title')?.dirty ||
              courseForm.get('title')?.touched)) ||
          formSubmitted
        "
        class="mt-2"
      >
        <div
          *ngIf="courseForm.get('title')?.errors?.['required']"
          class="error-text"
        >
          <span>This field is required</span>
        </div>
      </div>

      <!-- Short description -->
      <div class="col-12">
        <label class="form-label fw-bold ps-1">Description</label>
        <textarea
          class="form-control"
          rows="4"
          placeholder="Enter short description"
          formControlName="description"
        ></textarea>
      </div>
      <div
        *ngIf="
          (courseForm.get('description')?.invalid &&
            (courseForm.get('description')?.dirty ||
              courseForm.get('description')?.touched)) ||
          formSubmitted
        "
        class="mt-2"
      >
        <div
          *ngIf="courseForm.get('description')?.errors?.['required']"
          class="error-text"
        >
          <span>This field is required</span>
        </div>
      </div>

      <!-- Course category -->
      <div class="col-6">
        <label class="form-label fw-bold ps-1">Category</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="category"
        >
          <option value="">Choose category</option>
          <option value="1">Programming and Software Development</option>
          <option value="2">Web Development</option>
          <option value="3">Mobile App Development</option>
          <option value="4">Data Science and Machine Learning</option>
          <option value="5">Cybersecurity</option>
          <option value="6">Cloud Computing</option>
        </select>
        <div
          *ngIf="
            (courseForm.get('category')?.invalid &&
              (courseForm.get('category')?.dirty ||
                courseForm.get('category')?.touched)) ||
            formSubmitted
          "
          class="mt-2"
        >
          <div
            *ngIf="courseForm.get('category')?.errors?.['required']"
            class="error-text"
          >
            <span>This field is required</span>
          </div>
        </div>
      </div>

      <!-- Course level -->
      <div class="col-6">
        <label class="form-label fw-bold ps-1">Level</label>

        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="level"
        >
          <option value="">Choose level</option>
          <option value="beginner">Beginner</option>
          <option value="intermediate">Intermediate</option>
          <option value="advanced">Advanced</option>
        </select>
        <div
          *ngIf="
            (courseForm.get('level')?.invalid &&
              (courseForm.get('level')?.dirty ||
                courseForm.get('level')?.touched)) ||
            formSubmitted
          "
          class="mt-2"
        >
          <div
            *ngIf="courseForm.get('level')?.errors?.['required']"
            class="error-text"
          >
            <span>This field is required</span>
          </div>
        </div>
      </div>

      <!-- Course time -->
      <div class="col-6">
        <label class="form-label fw-bold ps-1">Time</label>
        <input
          class="form-control"
          type="number"
          placeholder="Enter course time"
          formControlName="time"
        />
        <div
          *ngIf="
            (courseForm.get('time')?.invalid &&
              (courseForm.get('time')?.dirty ||
                courseForm.get('time')?.touched)) ||
            formSubmitted
          "
          class="mt-2"
        >
          <div
            *ngIf="courseForm.get('time')?.errors?.['required']"
            class="error-text"
          >
            <span>This field is required</span>
          </div>
        </div>
      </div>

      <div class="col-6">
        <label class="form-label fw-bold ps-1">Premium</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="premium"
        >
          <option value="">Choose option</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <div
          *ngIf="
            (courseForm.get('premium')?.invalid &&
              (courseForm.get('premium')?.dirty ||
                courseForm.get('premium')?.touched)) ||
            formSubmitted
          "
          class="mt-2"
        >
          <div
            *ngIf="courseForm.get('premium')?.errors?.['required']"
            class="error-text"
          >
            <span>This field is required</span>
          </div>
        </div>
      </div>

      <div class="col-6">
        <label class="form-label fw-bold ps-1">Certificate</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="certificate"
        >
          <option value="">Choose option</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <div
          *ngIf="
            (courseForm.get('certificate')?.invalid &&
              (courseForm.get('certificate')?.dirty ||
                courseForm.get('certificate')?.touched)) ||
            formSubmitted
          "
          class="mt-2"
        >
          <div
            *ngIf="courseForm.get('certificate')?.errors?.['required']"
            class="error-text"
          >
            <span>This field is required</span>
          </div>
        </div>
      </div>

      <!-- Course price -->
      <div class="col-6">
        <label class="form-label fw-bold ps-1">Price</label>
        <input
          type="number"
          class="form-control"
          placeholder="Enter course price"
          formControlName="price"
        />
        <div
          *ngIf="
            (courseForm.get('price')?.invalid &&
              (courseForm.get('price')?.dirty ||
                courseForm.get('price')?.touched)) ||
            formSubmitted
          "
          class="mt-2"
        >
          <div
            *ngIf="courseForm.get('price')?.errors?.['required']"
            class="error-text"
          >
            <span>This field is required</span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button
        class="btn btn-primary mt-2"
        matStepperNext
        (click)="saveCourseDetails()"
        [disabled]="courseForm.invalid"
      >
        Next
      </button>
    </div>
  </form>
</div>
