<div class="row">
  <div class="col-12">
    <div class="card shadow p-2">
      <div class="row g-0">
        <!-- Image -->
        <div class="col-md-4">
          <img
            src="assets/images/instructor/04.jpg"
            class="rounded-3"
            alt="..."
          />
        </div>

        <!-- Card body -->
        <div class="col-md-8">
          <div class="card-body">
            <!-- Title -->
            <div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
              <div>
                <h5 class="card-title mb-0">
                  <a href="#">{{ instructor.name }}</a>
                </h5>
                <p class="small mb-2 mb-sm-0">Professor at LPU College</p>
              </div>
              <span class="h6 fw-light"
                >4.5<i class="fas fa-star text-warning ms-1"></i
              ></span>
            </div>
            <!-- Content -->
            <p class="text-truncate-2 mb-3">
              As it so contrasted oh estimating instrument. Size like body some
              one had. Are conduct viewing boy minutes warrant the expense
            </p>
            <!-- Info -->
            <div
              class="d-sm-flex justify-content-sm-between align-items-center"
            >
              <!-- Title -->
              <h6 class="text-orange mb-0">Graphic Designer</h6>

              <!-- Social button -->
              <ul class="list-inline mb-0 mt-3 mt-sm-0">
                <li class="list-inline-item">
                  <a class="mb-0 me-1 text-facebook" href="#"
                    ><i class="fab fa-fw fa-facebook-f"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="mb-0 me-1 text-instagram-gradient" href="#"
                    ><i class="fab fa-fw fa-instagram"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="mb-0 me-1 text-twitter" href="#"
                    ><i class="fab fa-fw fa-twitter"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="mb-0 text-linkedin" href="#"
                    ><i class="fab fa-fw fa-linkedin-in"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card item END -->
</div>
