<div class="row">
  <div class="col-12">
    <a [routerLink]="'/instructors/' + instructor.id">
      <div class="card shadow p-2">
        <div class="row g-0">
          <!-- Image -->
          <div class="col-md-4">
            <img src="{{ instructor.image }}" alt="instructor-image" />
          </div>

          <!-- Card body -->
          <div class="col-md-8">
            <div class="card-body">
              <!-- Title -->
              <div class="d-flex justify-content-between mb-2">
                <div>
                  <h5 class="card-title mb-0"></h5>
                  <h5>{{ instructor.name }}</h5>
                </div>
                <div *ngIf="instructor.rating">
                  <span class="h6 fw-light"
                    >{{ instructor.rating }}/5<i
                      class="fas fa-star text-warning ms-1"
                    ></i
                  ></span>
                </div>
                <div *ngIf="!instructor.rating">
                  <span class="h6 fw-light"
                    >0/5<i class="fas fa-star text-warning ms-1"></i
                  ></span>
                </div>
              </div>
              <!-- Content -->
              <p class="text-truncate-2 mb-3">
                {{ instructor.description }}
              </p>
              <!-- Info -->
              <div
                class="d-sm-flex justify-content-sm-between align-items-center"
              >
                <!-- Title -->
                <h6 class="text-orange mb-0">{{ instructor.skills }}</h6>

                <!-- Social button -->
                <ul class="list-inline mb-0 mt-3 mt-sm-0">
                  <li class="list-inline-item">
                    <a
                      class="mb-0 me-1 text-facebook"
                      href="http://www.facebook.com"
                      ><i class="fab fa-fw fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="mb-0 me-1 text-instagram-gradient"
                      href="http://www.instagram.com"
                      ><i class="fab fa-fw fa-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="mb-0 me-1 text-twitter"
                      href="http://www.twitter.com"
                      ><i class="fab fa-fw fa-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a class="mb-0 text-linkedin" href="http://www.linkedin.com"
                      ><i class="fab fa-fw fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!-- Card item END -->
</div>
