<!-- Course accordion START -->
<div
  [attr.id]="'collapse-' + lecture.id"
  class="accordion-collapse collapse show"
  [attr.aria-labelledby]="'heading-' + lecture.id"
  data-bs-parent="#accordionExample2"
>
  <div *ngFor="let topic of lecture.topics">
    <div>
      <div class="accordion-body mt-3">
        <!-- Course lecture -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="position-relative d-flex align-items-center">
            <a
              href="#"
              class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static"
            >
              <i class="fas fa-play me-0"></i>
            </a>
            <span
              class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px"
              >{{ topic.topicName }}</span
            >
          </div>
          <p class="mb-0">2m 10s</p>
        </div>

        <hr />
        <!-- Divider -->
      </div>
    </div>
  </div>
</div>

<!-- Course accordion END -->
