<div class="row d-flex my-2">
  <div class="col-6">
    <div class="d-lg-flex align-items-center">
      <!-- Image -->
      <div class="w-100px w-md-80px mb-2 mb-md-0">
        <img src="{{ course.image }}" class="rounded" alt="" />
      </div>
      <!-- Title -->
      <h6 class="mb-0 ms-lg-3 mt-2 mt-lg-0">
        <a>{{ course.name }}</a>
      </h6>
    </div>
  </div>

  <!-- Amount item -->
  <div class="col-4 text-center align-self-center">
    <h5 class="text-success mb-0">{{ course.price }} $</h5>
  </div>

  <div class="col-2 align-self-center">
    <button
      class="btn btn-sm btn-danger-soft px-2 mb-0"
      (click)="deleteCourseFromCart()"
    >
      <i class="fas fa-fw fa-times"></i>
    </button>
  </div>
</div>
