<div *ngIf="user">
  <div class="col-xl-9">
    <!-- Edit profile START -->
    <div class="card bg-transparent border rounded-3">
      <!-- Card header -->
      <div class="card-header bg-transparent border-bottom">
        <h3 class="card-header-title mb-0">Edit Profile</h3>
      </div>
      <!-- Profile picture -->
      <div class="col-12 justify-content-center align-items-center m-3">
        <p class="form-label">Profile picture</p>
        <div class="d-flex align-items-center">
          <!-- Avatar place holder -->
          <span class="avatar avatar-xl me-3">
            <img
              class="avatar-img rounded-circle border border-white border-3 shadow"
              src="{{ user.image }}"
              alt="user-image"
              (click)="showImageOptions()"
            />
          </span>

          <!-- Upload button -->
          <button
            class="btn btn-primary-soft mb-0"
            (click)="saveNewProfileImage()"
          >
            Change
          </button>
        </div>
      </div>
      <div *ngIf="imagesShown">
        <div class="d-flex justify-content-center g-1">
          <img
            src="/assets/user1.jpg"
            class="user-image"
            [class.selected]="selectedImageSrc === '/assets/user1.jpg'"
            (click)="saveImageSrc('/assets/user1.jpg')"
          />
          <img
            src="/assets/user2.jpg"
            class="user-image"
            [class.selected]="selectedImageSrc === '/assets/user2.jpg'"
            (click)="saveImageSrc('/assets/user2.jpg')"
          />
          <img
            src="/assets/user3.jpg"
            class="user-image"
            [class.selected]="selectedImageSrc === '/assets/user3.jpg'"
            (click)="saveImageSrc('/assets/user3.jpg')"
          />
          <img
            src="/assets/user4.jpg"
            class="user-image"
            [class.selected]="selectedImageSrc === '/assets/user4.jpg'"
            (click)="saveImageSrc('/assets/user4.jpg')"
          />
          <img
            src="/assets/user5.jpg"
            class="user-image"
            [class.selected]="selectedImageSrc === '/assets/user5.jpg'"
            (click)="saveImageSrc('/assets/user5.jpg')"
          />
          <img
            src="/assets/user6.jpg"
            class="user-image"
            [class.selected]="selectedImageSrc === '/assets/user6.jpg'"
            (click)="saveImageSrc('/assets/user6.jpg')"
          />
        </div>
      </div>
      <!-- Card body START -->
      <div class="card-body">
        <!-- Form -->
        <form class="row g-4" [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <!-- Full name -->
          <div class="col-12">
            <label class="form-label">Full name</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="First name"
                formControlName="firstName"
              />
              <input
                type="text"
                class="form-control"
                placeholder="Last name"
                formControlName="lastName"
              />
            </div>
            <div
              *ngIf="
                editForm.get('firstName')?.invalid &&
                (editForm.get('firstName')?.dirty ||
                  editForm.get('firstName')?.touched)
              "
            >
              <div
                *ngIf="editForm.get('firstName')?.errors?.['required']"
                class="my-2 error-text"
              >
                <span>This field is required</span>
              </div>
              <div
                *ngIf="editForm.get('lastName')?.errors?.['required']"
                class="my-2 error-text"
              >
                <span>This field is required</span>
              </div>
            </div>
          </div>

          <!-- About me -->
          <div class="col-12">
            <label class="form-label">Description</label>
            <textarea
              class="form-control"
              rows="3"
              formControlName="description"
            ></textarea>
          </div>

          <!-- Education -->
          <div class="col-12">
            <label class="form-label">Education</label>
            <input
              class="form-control mb-2"
              type="text"
              formControlName="education"
            />
          </div>

          <!-- Save button -->
          <div class="d-sm-flex justify-content-end">
            <button type="submit" class="btn btn-primary mb-0">
              Save changes
            </button>
          </div>
        </form>
      </div>
      <!-- Card body END -->
    </div>
    <!-- Edit profile END -->

    <div class="row g-4 mt-3">
      <!-- Linked account START -->

      <!-- Password change START -->
      <div class="col-lg-6">
        <div class="card border bg-transparent rounded-3">
          <!-- Card header -->
          <div class="card-header bg-transparent border-bottom">
            <h5 class="card-header-title mb-0">Update password</h5>
          </div>
          <!-- Card body START -->
          <div class="card-body">
            <!-- New password -->
            <div class="mb-3">
              <label class="form-label"> Enter new password</label>
              <div class="input-group">
                <input
                  class="form-control"
                  type="password"
                  [(ngModel)]="newPassword"
                />
                <span class="input-group-text p-0 bg-transparent">
                  <i class="far fa-eye cursor-pointer p-2 w-40px"></i>
                </span>
              </div>
              <div class="rounded mt-1" id="psw-strength"></div>
            </div>
            <!-- Confirm password -->

            <!-- Button -->
            <div class="d-flex justify-content-center mt-2">
              <button
                type="button"
                class="btn btn-primary mb-0"
                (click)="saveNewPassword()"
              >
                Change password
              </button>
            </div>
            <div *ngIf="passwordSaved" class="text-green mt-2 p-1 text-center">
              <p>The password has been saved</p>
            </div>
          </div>
          <!-- Card body END -->
        </div>
      </div>
      <!-- Password change end -->
    </div>
  </div>
</div>
