<div class="p-4">
  <!-- Title -->
  <h4>Course media</h4>

  <p class="fw-bold">Select an image</p>
  <div class="row d-flex justify-content-center px-3">
    <div *ngFor="let image of imageList" class="col-2 mb-2 pe-1">
      <img
        class="media-photo"
        [src]="image"
        (click)="onImageClick(image)"
        [class.border]="selectedImage === image"
        [class.border-3]="selectedImage === image"
      />
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <button type="button" class="btn btn-secondary">Next</button>
  </div>

  <!-- Divider -->
</div>
