<div class="p-4">
  <!-- Title -->
  <h2>Course media</h2>

  <p class="fw-bold">Select an image</p>
  <div class="row d-flex justify-content-center px-3">
    <div *ngFor="let image of imageList" class="col-2 mb-2 pe-1">
      <img
        class="media-photo"
        [src]="image"
        (click)="onImageClick(image)"
        [class.border]="selectedImage === image"
        [class.border-3]="selectedImage === image"
      />
    </div>
  </div>
  <div class="text-end">
    <button class="btn btn-secondary me-2" matStepperPrevious>Back</button>
    <button class="btn btn-secondary" matStepperNext>Next</button>
  </div>

  <!-- Divider -->
</div>
