.highlight{
    padding:3px;
    border: 1px solid #f7c32e;
}

.card-media{
    border: 1px solid #cfd3d7;
    padding:30px;
    margin:0 10px;
    border-radius: 0;
    border-right: 1px solid #cfd3d7;
}

.media-photo{
    border-radius: 10px;
}