<!-- Course item START -->
<div *ngIf="product">
  <div class="row g-3 py-2">
    <!-- Image -->
    <div class="col-sm-4">
      <img class="rounded" src="{{ product.image }}" alt="" />
    </div>
    <!-- Info -->
    <div class="col-sm-8">
      <h6 class="mb-0">
        <a>{{ product.name }}</a>
      </h6>
      <!-- Info -->
      <div class="d-flex justify-content-between align-items-center mt-3">
        <!-- Price -->
        <span class="text-success">{{ product.price }} $</span>

        <!-- Remove and edit button -->
        <div class="text-primary-hover">
          <a class="text-body me-2 text-red" (click)="removeProductFromCart()"
            ><i class="bi bi-trash me-1"></i>Remove</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Course item END -->
</div>
