<section class="py-0">
  <div class="container-fluid m-0 p-0">
    <div class="row">
      <div class="col-12">
        <div class="bg-dark p-4 text-center">
          <h2 class="text-white m-0">Checkout</h2>
          <!-- Breadcrumb -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-2">
  <div class="container">
    <div class="row g-4 g-sm-5">
      <!-- Main content START -->
      <div class="col-xl-8 mb-4 mb-sm-0">
        <!-- Personal info START -->
        <div class="card card-body shadow p-4">
          <!-- Title -->
          <h5 class="mb-0">Billing Details</h5>

          <app-checkout-details></app-checkout-details>

          <app-checkout-payment></app-checkout-payment>
        </div>
        <!-- Personal info END -->
      </div>
      <!-- Main content END -->

      <!-- Right sidebar START -->
      <div class="col-xl-4">
        <div class="row mb-0">
          <div class="col-md-6 col-xl-12">
            <!-- Order summary START -->
            <div class="card card-body shadow p-4 mb-4">
              <app-order-summary></app-order-summary>
            </div>
            <!-- Order summary END -->
          </div>
        </div>
        <!-- Row End -->
      </div>
      <!-- Right sidebar END -->
    </div>
    <!-- Row END -->
  </div>
</section>
