<div class="mt-2">
  <h5 class="mb-3 ps-4 ms-2">Leave a Review</h5>
  <form class="row g-3 align-items-center justify-content-around">
    <!-- Rating -->
    <div class="col-11 bg-light-input">
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="rating"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="0" selected>Select a rating</option>
        <option value="5">★★★★★ (5/5)</option>
        <option value="4">★★★★☆ (4/5)</option>
        <option value="3">★★★☆☆ (3/5)</option>
        <option value="2">★★☆☆☆ (2/5)</option>
        <option value="1">★☆☆☆☆ (1/5)</option>
      </select>
    </div>

    <!-- Message -->
    <div class="col-11 bg-light-input">
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        placeholder="Your review"
        rows="3"
        [(ngModel)]="message"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </div>

    <!-- Button -->
    <div class="col-12 d-flex justify-content-start mt-2 mb-2 ms-3">
      <button
        type="submit"
        class="btn btn-warning m-0 text-center submit-button ms-4"
        (click)="addReview()"
        [disabled]="!message || !rating"
      >
        Post Review
      </button>
    </div>
  </form>
</div>
