<!-- Title -->
<h4 class="mb-4">Order Summary</h4>
<div *ngFor="let product of products">
  <app-order-product
    [product]="product"
    (onDeleteCourse)="onDeleteCourse($event)"
  ></app-order-product>
</div>

<hr />
<!-- Divider -->

<!-- Price and detail -->
<div class="list-group list-group-borderless mb-2">
  <div class="list-group-item px-0 d-flex justify-content-between">
    <span class="h5 mb-0">Total</span>
    <span class="h5 mb-0">{{ cartTotal }} $</span>
  </div>
</div>

<!-- Button -->
<div class="d-grid">
  <a class="btn btn-lg btn-success" (click)="placeOrder()">Place Order</a>
</div>
