<main *ngIf="course">
  <!-- =======================
  Page intro START -->
  <section class="bg-light py-0 py-sm-5">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-8">
          <!-- Badge -->
          <h6
            class="mb-3 font-base bg-primary text-white py-2 px-4 rounded-2 d-inline-block"
          >
            Digital Marketing
          </h6>
          <!-- Title -->
          <h1>{{ course.name }}</h1>
          <p>
            {{ course.description }}
          </p>
          <!-- Content -->
          <ul class="list-inline mb-0">
            <li
              class="list-inline-item h6 me-3 mb-1 mb-sm-0"
              *ngIf="!course.rating"
            >
              <i class="fas fa-star text-warning me-2"></i>0/5.0
            </li>
            <li
              class="list-inline-item h6 me-3 mb-1 mb-sm-0"
              *ngIf="course.rating"
            >
              <i class="fas fa-star text-warning me-2"></i
              >{{ course.rating }}/5.0
            </li>
            <li class="list-inline-item h6 me-3 mb-1 mb-sm-0">
              <i class="fas fa-user-graduate text-orange me-2"></i>12k Enrolled
            </li>
            <li class="list-inline-item h6 me-3 mb-1 mb-sm-0">
              <i class="fas fa-signal text-success me-2"></i
              >{{ course.experience }}
            </li>
            <li class="list-inline-item h6 me-3 mb-1 mb-sm-0">
              <i class="fas fa-signal text-success me-2"></i
              >{{ course.views }} Views
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Page intro END -->

  <!-- =======================
  Page content START -->
  <section class="pb-0 py-lg-5">
    <div class="container">
      <div class="row">
        <!-- Main content START -->
        <div class="col-lg-8">
          <div class="card shadow rounded-2 p-0">
            <!-- Tabs START -->
            <div class="card-header border-bottom px-4 py-3">
              <ul
                class="nav nav-pills nav-tabs-line py-0"
                id="course-pills-tab"
                role="tablist"
              >
                <!-- Tab item -->
                <li class="nav-item me-2 me-sm-4" role="presentation">
                  <button
                    class="nav-link mb-2 mb-md-0"
                    id="course-pills-tab-1"
                    data-bs-toggle="pill"
                    data-bs-target="#course-pills-1"
                    type="button"
                    role="tab"
                    aria-controls="course-pills-1"
                    aria-selected="false"
                    tabindex="-1"
                  >
                    Overview
                  </button>
                </li>
                <!-- Tab item -->
                <li class="nav-item me-2 me-sm-4" role="presentation">
                  <button
                    class="nav-link mb-2 mb-md-0 active"
                    id="course-pills-tab-2"
                    data-bs-toggle="pill"
                    data-bs-target="#course-pills-2"
                    type="button"
                    role="tab"
                    aria-controls="course-pills-2"
                    aria-selected="true"
                  >
                    Curriculum
                  </button>
                </li>
              </ul>
            </div>
            <!-- Tabs END -->

            <!-- Tab contents START -->
            <div class="card-body p-4">
              <div class="tab-content pt-2" id="course-pills-tabContent">
                <!-- Content START -->
                <div
                  class="tab-pane fade"
                  id="course-pills-1"
                  role="tabpanel"
                  aria-labelledby="course-pills-tab-1"
                >
                  <!-- Course detail START -->
                  <h5 class="mb-3">Course Description</h5>
                  <p class="mb-3">
                    Welcome to the
                    <strong> {{ course.name }}</strong>
                  </p>
                  <p class="mb-3">
                    In this practical hands-on training, you’re going to learn
                    to become a digital marketing expert with this
                    <strong>
                      ultimate course bundle that includes 12 digital marketing
                      courses in 1!</strong
                    >
                  </p>

                  <!-- List content -->
                  <h5 class="mt-4">What you’ll learn</h5>
                  <ul class="list-group list-group-borderless mb-3">
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i
                      >Digital marketing course introduction
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i
                      >Customer Life cycle
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i>What
                      is Search engine optimization(SEO)
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i
                      >Facebook ADS
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i
                      >Facebook Messenger Chatbot
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i
                      >Search engine optimization tools
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i>Why
                      SEO
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i>URL
                      Structure
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i
                      >Featured Snippet
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i>SEO
                      tips and tricks
                    </li>
                    <li class="list-group-item h6 fw-light d-flex mb-0">
                      <i class="fas fa-check-circle text-success me-2"></i
                      >Google tag manager
                    </li>
                  </ul>

                  <p class="mb-0">
                    As it so contrasted oh estimating instrument. Size like body
                    someone had. Are conduct viewing boy minutes warrant the
                    expense? Tolerably behavior may admit daughters offending
                    her ask own. Praise effect wishes change way and any wanted.
                    Lively use looked latter regard had. Do he it part more last
                    in.
                  </p>
                  <!-- Course detail END -->
                </div>
                <!-- Content END -->

                <!-- Content START -->
                <div *ngFor="let lecture of course.curriculum">
                  <div
                    class="tab-pane fade active show"
                    id="course-pills-{{ lecture.id }}"
                    role="tabpanel"
                    aria-labelledby="course-pills-tab-{{ lecture.id }}"
                  >
                    <!-- Course accordion START -->
                    <div
                      class="accordion accordion-icon accordion-bg-light"
                      id="accordionExample2"
                    >
                      <!-- Item -->
                      <div class="accordion-item mb-3">
                        <h6
                          class="accordion-header font-base"
                          id="heading-{{ lecture.id }}"
                        >
                          <button
                            class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ lecture.id }}"
                            aria-expanded="true"
                            aria-controls="collapse-{{ lecture.id }}"
                          >
                            {{ lecture.chapterName }}
                            <span class="small ms-0 ms-sm-2">{{
                              lecture.topics.length
                            }}</span>
                          </button>
                        </h6>
                        <div *ngFor="let topic of lecture.topics">
                          <div
                            id="collapse-1"
                            class="accordion-collapse collapse show"
                            aria-labelledby="heading-{{ topic.id }}"
                            data-bs-parent="#accordionExample2"
                          >
                            <div class="accordion-body mt-3">
                              <!-- Course lecture -->
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <div
                                  class="position-relative d-flex align-items-center"
                                >
                                  <a
                                    href="#"
                                    class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static"
                                  >
                                    <i class="fas fa-play me-0"></i>
                                  </a>
                                  <span
                                    class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px"
                                    >{{ topic.topicName }}</span
                                  >
                                </div>
                                <p class="mb-0">2m 10s</p>
                              </div>

                              <hr />
                              <!-- Divider -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Course accordion END -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Tab contents END -->
          </div>
          <div class="card shadow rounded-2 mt-5">
            <!-- Review START -->
            <div class="row mb-4">
              <h5 class="m-4">Our Student Reviews</h5>

              <!-- Rating info -->
              <div class="col-md-4 mb-3 mb-md-0">
                <div class="text-center">
                  <!-- Info -->
                  <h2 class="mb-0" *ngIf="course.rating">
                    {{ course.rating }}/5
                  </h2>
                  <h2 class="mb-0" *ngIf="!course.rating">0/5</h2>
                  <!-- Star -->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fas fa-star-half-alt text-warning"></i>
                    </li>
                  </ul>
                  <p class="mb-0">(Based on students' reviews)</p>
                </div>
              </div>

              <!-- Progress-bar and star -->
              <div class="col-md-8">
                <div class="row align-items-center">
                  <!-- Progress bar and Rating -->
                  <div class="col-6 col-sm-8">
                    <!-- Progress item -->
                    <div class="progress progress-sm bg-warning bg-opacity-15">
                      <div
                        *ngIf="total === 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="0"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                      <div
                        *ngIf="total !== 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="(fiveStars * 100) / total"
                        aria-valuenow="(fiveStars * 100) / total"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>

                  <div class="col-6 col-sm-4">
                    <!-- Star item -->
                    <ul class="list-inline mb-0">
                      <span class="p-2">({{ fiveStars }})</span>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>

                  <!-- Progress bar and Rating -->
                  <div class="col-6 col-sm-8">
                    <!-- Progress item -->
                    <div class="progress progress-sm bg-warning bg-opacity-15">
                      <div
                        *ngIf="total === 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="(fourStars * 100) / total"
                        aria-valuenow="(fourStars * 100) / total"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                      <div
                        *ngIf="total !== 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="(fourStars * 100) / total"
                        aria-valuenow="(fourStars * 100) / total"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>

                  <div class="col-6 col-sm-4">
                    <!-- Star item -->
                    <ul class="list-inline mb-0">
                      <span class="p-2">({{ fourStars }})</span>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>

                  <!-- Progress bar and Rating -->
                  <div class="col-6 col-sm-8">
                    <!-- Progress item -->
                    <div class="progress progress-sm bg-warning bg-opacity-15">
                      <div
                        *ngIf="total === 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="(threeStars * 100) / total"
                        aria-valuenow="(threeStars * 100) / total"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                      <div
                        *ngIf="total !== 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="(threeStars * 100) / total"
                        aria-valuenow="(threeStars * 100) / total"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>

                  <div class="col-6 col-sm-4">
                    <!-- Star item -->
                    <ul class="list-inline mb-0">
                      <span class="p-2">({{ threeStars }})</span>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>

                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>

                  <!-- Progress bar and Rating -->
                  <div class="col-6 col-sm-8">
                    <!-- Progress item -->
                    <div class="progress progress-sm bg-warning bg-opacity-15">
                      <div
                        *ngIf="total === 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="(twoStars * 100) / total"
                        aria-valuenow="(twoStars * 100) / total"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                      <div
                        *ngIf="total !== 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="(twoStars * 100) / total"
                        aria-valuenow="(twoStars * 100) / total"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>

                  <div class="col-6 col-sm-4">
                    <!-- Star item -->
                    <ul class="list-inline mb-0">
                      <span class="p-2">({{ twoStars }})</span>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>

                  <!-- Progress bar and Rating -->
                  <div class="col-6 col-sm-8">
                    <!-- Progress item -->
                    <div class="progress progress-sm bg-warning bg-opacity-15">
                      <div
                        *ngIf="total === 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="0"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                      <div
                        *ngIf="total !== 0"
                        class="progress-bar bg-warning"
                        role="progressbar"
                        [style.width.%]="(oneStar * 100) / total"
                        aria-valuenow="(oneStar * 100) / total"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>

                  <div class="col-6 col-sm-4">
                    <!-- Star item -->
                    <ul class="list-inline mb-0">
                      <span class="p-2">({{ oneStar }})</span>
                      <li class="list-inline-item me-0 small">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item me-0 small">
                        <i class="far fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Student review START -->
            <div class="row">
              <!-- Review item START -->
              <app-review-section
                (updateAverageRating)="showAverageRating($event)"
                (sendReviewsAfterDelete)="showReviewsRatings($event)"
                (sendReviewsAfterAdd)="showReviewsRatings($event)"
              ></app-review-section>
            </div>
            <!-- Student review END -->

            <!-- Review END -->
          </div>
        </div>
        <!-- Main content END -->

        <!-- Right sidebar START -->
        <div class="col-lg-4 pt-5 pt-lg-0">
          <div class="row mb-5 mb-lg-0">
            <div class="col-md-6 col-lg-12">
              <!-- Video START -->
              <div class="card shadow p-2 mb-4 z-index-9">
                <div class="overflow-hidden rounded-3">
                  <img
                    src="{{ course.image }}"
                    class="card-img"
                    alt="course image"
                  />
                  <!-- Overlay -->
                  <div class="bg-overlay bg-dark opacity-6"></div>
                  <div
                    class="card-img-overlay d-flex align-items-start flex-column p-3"
                  >
                    <!-- Video button and link -->
                    <div class="m-auto">
                      <a
                        href="https://www.youtube.com/embed/tXHviS-4ygo"
                        class="btn btn-lg text-danger btn-round btn-white-shadow mb-0"
                        data-glightbox=""
                        data-gallery="course-video"
                      >
                        <i class="fas fa-play"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Card body -->
                <div class="card-body px-3">
                  <!-- Info -->
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <!-- Price and time -->
                    <div>
                      <div class="d-flex align-items-center">
                        <h3 class="fw-bold mb-0 me-2">$150</h3>
                        <span class="text-decoration-line-through mb-0 me-2"
                          >$350</span
                        >
                        <span class="badge text-bg-orange mb-0">60% off</span>
                      </div>
                      <p class="mb-0 text-danger">
                        <i class="fas fa-stopwatch me-2"></i>5 days left at this
                        price
                      </p>
                    </div>

                    <!-- Share button with dropdown -->
                    <div class="dropdown">
                      <!-- Share button -->
                      <a
                        href="#"
                        class="btn btn-sm btn-light rounded small"
                        role="button"
                        id="dropdownShare"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="fas fa-fw fa-share-alt"></i>
                      </a>
                      <!-- dropdown button -->
                      <ul
                        class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded"
                        aria-labelledby="dropdownShare"
                      >
                        <li>
                          <a class="dropdown-item" href="#"
                            ><i class="fab fa-twitter-square me-2"></i
                            >Twitter</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            ><i class="fab fa-facebook-square me-2"></i
                            >Facebook</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            ><i class="fab fa-linkedin me-2"></i>LinkedIn</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            ><i class="fas fa-copy me-2"></i>Copy link</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- Buttons -->
                  <div class="mt-3 d-sm-flex justify-content-sm-between">
                    <a href="#" class="btn btn-outline-primary mb-0"
                      >Free trial</a
                    >
                    <a href="#" class="btn btn-success mb-0">Buy course</a>
                  </div>
                </div>
              </div>
              <!-- Video END -->

              <!-- Course info START -->
              <div class="card card-body shadow p-4 mb-4">
                <!-- Title -->
                <h4 class="mb-3">This course includes</h4>
                <ul class="list-group list-group-borderless">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="h6 fw-light mb-0"
                      ><i class="fas fa-fw fa-book-open text-primary"></i
                      >Chapters</span
                    >
                    <span>30</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="h6 fw-light mb-0"
                      ><i class="fas fa-fw fa-clock text-primary"></i
                      >Duration</span
                    >
                    <span>4h 50m</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="h6 fw-light mb-0"
                      ><i class="fas fa-fw fa-signal text-primary"></i
                      >Skills</span
                    >
                    <span>{{ course.experience }}</span>
                  </li>

                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="h6 fw-light mb-0"
                      ><i class="fas fa-fw fa-medal text-primary"></i
                      >Certificate</span
                    >
                    <span *ngIf="course.hasCertificate">Yes</span>
                    <span *ngIf="!course.hasCertificate">No</span>
                  </li>
                </ul>
              </div>
              <!-- Course info END -->
              <div class="card card-body shadow">
                <div class="mb-0 mb-md-4">
                  <div class="row g-0 align-items-center">
                    <div class="col-12">
                      <!-- Image -->
                      <img
                        src="assets/publisher.jpg"
                        class="img-fluid rounded-3"
                        alt="instructor-image"
                      />
                    </div>
                    <div class="col-12">
                      <!-- Card body -->
                      <div class="card-body">
                        <!-- Title -->
                        <h3 class="card-title mb-0">Louis Ferguson</h3>
                        <p class="mb-2">Instructor of Marketing</p>
                        <!-- Social button -->
                        <ul class="list-inline mb-3">
                          <li class="list-inline-item me-3">
                            <a href="#" class="fs-5 text-twitter"
                              ><i class="fab fa-twitter-square"></i
                            ></a>
                          </li>
                          <li class="list-inline-item me-3">
                            <a href="#" class="fs-5 text-instagram"
                              ><i class="fab fa-instagram-square"></i
                            ></a>
                          </li>
                          <li class="list-inline-item me-3">
                            <a href="#" class="fs-5 text-facebook"
                              ><i class="fab fa-facebook-square"></i
                            ></a>
                          </li>
                          <li class="list-inline-item me-3">
                            <a href="#" class="fs-5 text-linkedin"
                              ><i class="fab fa-linkedin"></i
                            ></a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="fs-5 text-youtube"
                              ><i class="fab fa-youtube-square"></i
                            ></a>
                          </li>
                        </ul>

                        <!-- Info -->
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <div class="d-flex align-items-center me-3 mb-2">
                              <span
                                class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"
                                ><i class="fas fa-user-graduate"></i
                              ></span>
                              <span class="h6 fw-light mb-0 ms-2">9.1k</span>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="d-flex align-items-center me-3 mb-2">
                              <span
                                class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"
                                ><i class="fas fa-star"></i
                              ></span>
                              <span class="h6 fw-light mb-0 ms-2">4.5</span>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="d-flex align-items-center me-3 mb-2">
                              <span
                                class="icon-md bg-danger bg-opacity-10 text-danger rounded-circle"
                                ><i class="fas fa-play"></i
                              ></span>
                              <span class="h6 fw-light mb-0 ms-2"
                                >29 Courses</span
                              >
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="d-flex align-items-center me-3 mb-2">
                              <span
                                class="icon-md bg-info bg-opacity-10 text-info rounded-circle"
                                ><i class="fas fa-comment-dots"></i
                              ></span>
                              <span class="h6 fw-light mb-0 ms-2">205</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Card END -->
                <!-- Instructor info -->
                <h5 class="mb-3">About Instructor</h5>
                <p class="mb-3">
                  Fulfilled direction use continual set him propriety continued.
                  Saw met applauded favorite deficient engrossed concealed and
                  her. Concluded boy perpetual old supposing. Farther related
                  bed and passage comfort civilly. Dashboard see frankness
                  objection abilities. As hastened oh produced prospect formerly
                  up am. Placing forming nay looking old married few has.
                  Margaret disposed of add screened rendered six say his
                  striking confined.
                </p>
                <p class="mb-3">
                  As it so contrasted oh estimating instrument. Size like body
                  someone had. Are conduct viewing boy minutes warrant the
                  expense? Tolerably behavior may admit daughters offending her
                  ask own. Praise effect wishes change way and any wanted.
                </p>
                <!-- Email address -->
                <div class="col-12">
                  <ul class="list-group list-group-borderless mb-0">
                    <li class="list-group-item pb-0">
                      Mail ID:<a href="#" class="ms-2">hello@email.com</a>
                    </li>
                    <li class="list-group-item pb-0">
                      Web:<a href="#" class="ms-2">https://eduport.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Row End -->
        </div>
        <!-- Right sidebar END -->
      </div>
      <!-- Row END -->
    </div>
  </section>
  <!-- =======================
  Page content END -->

  <!-- =======================
  Listed courses START -->

  <!-- =======================
  Listed courses END -->
</main>
