<div class="d-flex justify-content-between p-2">
  <div>
    <i class="fa-regular fa-circle"></i>
    <span
      *ngIf="!isEditTopicInputShown || selectedTopicIndex !== topicIndex"
      class="ms-2 mb-0 h6 fw-light"
    >
      {{ topic.topicName }}
    </span>

    <span *ngIf="selectedTopicIndex == topicIndex && isEditTopicInputShown">
      <input
        class="form-control mb-1 edit-topic"
        type="text"
        placeholder="Enter topic name"
        [(ngModel)]="editedTopicName"
      />
      <a
        class="btn btn-primary-soft mb-0 ms-2"
        (click)="saveEditedTopic(topicIndex)"
        ><i class="bi bi-plus-circle me-2"></i>Save</a
      >
    </span>
  </div>

  <div>
    <a
      class="btn btn-sm btn-success-soft btn-round me-1 mb-1 mb-md-0"
      (click)="editTopic(topic.topicName, topicIndex)"
      ><i class="far fa-fw fa-edit"></i
    ></a>
    <button
      class="btn btn-sm btn-danger-soft btn-round mb-0"
      (click)="deleteTopic()"
    >
      <i class="fas fa-fw fa-times"></i>
    </button>
  </div>
</div>
