<section class="py-0">
  <div class="container-fluid m-0 p-0">
    <div class="row">
      <div class="col-12">
        <div class="bg-dark p-4 text-center">
          <h2 class="text-white m-0">Cart</h2>
          <!-- Breadcrumb -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5">
  <div class="container">
    <div class="row g-4 g-sm-5">
      <!-- Main content START -->
      <div class="col-lg-8 mb-4 mb-sm-0">
        <div class="card card-body p-4 shadow">
          <div class="border-0 rounded-3">
            <!-- Cart item -->
            <div class="row d-flex justify-content-between">
              <!-- Course item -->
              <div *ngFor="let course of cartCourses">
                <app-cart-product [course]="course"></app-cart-product>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main content END -->

      <!-- Right sidebar START -->
      <div class="col-lg-4">
        <!-- Card total START -->
        <div class="card card-body p-4 shadow">
          <app-cart-total [cartTotal]="cartTotal"></app-cart-total>
        </div>
        <!-- Card total END -->
      </div>
      <!-- Right sidebar END -->
    </div>
  </div>
  <!-- Row END -->
</section>
